<br />
<div class="container-fluid">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="Nom" class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-8">
                <input type="text" ng-model="club.nom" class="form-control" id="Nom"/>
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
                <input type="text" ng-model="club.description" class="form-control" id="Description" />
            </div>
        </div>
        <div class="form-group">
            <label for="adresse" class="col-sm-2 control-label">Adresse</label>
            <div class="col-sm-8">
                <input type="text" ng-model="club.adresse[0]" class="form-control" id="adresse" />
            </div>
        </div>
        <div class="form-group">
            <label for="codePostal" class="col-sm-2 control-label">Code Postal</label>
            <div class="col-sm-4">
                <input type="text" ng-model="club.codePostal" class="form-control" id="codePostal" />
            </div>
        </div>
        <div class="form-group">
            <label for="ville" class="col-sm-2 control-label">Ville</label>
            <div class="col-sm-8">
                <input type="text" ng-model="club.ville" class="form-control" id="ville" />
            </div>
        </div>
        <div class="form-group">
            <label for="telephone" class="col-sm-2 control-label">Téléphone</label>
            <div class="col-sm-4">
                <input type="text" ng-model="club.telephones[0].telephone" class="form-control" id="telephone" />
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-8">
                <input type="text" ng-model="club.emails[0].email" class="form-control" id="email" />
            </div>
        </div>
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Url</label>
            <div class="col-sm-8">
                <input type="text" ng-model="club.urls[0].url" class="form-control" id="url" />
            </div>
        </div>
        <div class="form-group">
            <label for="commentaires" class="col-sm-2 control-label">Commentaires</label>
            <div class="col-sm-8">
                <textarea id="commentaires" ng-model="club.commentaires[0].message" class="form-control" rows="3"  ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input type="submit" class="btn btn-default" value="Retour" ng_click="back()" ng-disabled=""/>
                <input type="submit" class="btn btn-danger" value="Supprimer" ng_click="delete()" ng-disabled="mode == 'Ajout'"/>
                <input type="submit" class="btn btn-primary" value="Nouveau" ng_click="add()" ng-disabled="mode == 'Ajout'"/>
                <input type="submit" class="btn btn-primary" value="Copier" ng_click="copy()" ng-disabled="mode == 'Ajout'"/>
                <input type="submit" class="btn btn-warning" value="Enregistrer" ng_click="save()" ng-disabled=""/>
            </div>
        </div>
    </form>
</div>

