<div class="container-fluid">
    <div class="form-group header">
        <div class="col-sm-4">
            <h4>Liste des clubs :</h4>
        </div>
        <div class="col-sm-4">
             <input class="form-control" type="text" ng-model="state.search" placeholder="Rechercher un club..."  ng-change="rechercherClub()">
        </div>
        <div class="col-sm-offset-2 col-sm-2">
            <input type="submit" class="btn btn-primary btn-block" value="Ajouter" ng_click="add()"/>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
             <tr>
                 <th>Libellé</th>
                 <th>Description</th>
                 <th>Ville</th>
             </tr>
            </thead>
            <tbody>
                <tr ng-class="{selected: c._id === state.idSelected}" dir-paginate="c in clubList | itemsPerPage: itemsPerPage" total-items="totalItems" ng-click="selectRow(c)" current-page="state.currentPage" >
                    <td>{{c.nom}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.ville}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="text-center"> <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls></p>
</div>

