/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body
{
 
}

.table-hover tbody tr:hover td
{
    background-color: #ffef9c !important;
    color: #000000;
    cursor: pointer;
}

.div-menu{
    display:block;
    width:100%;

}
.view-animate{
    display:block;
    width:100%;

    position:absolute;
    top:30px;
    left:0;
    right:0;
    bottom:0;
}


.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;

    display:block;
    width:100%;
    /*border-left:1px solid black;*/

    position:absolute;
    top:30px;
    left:0;
    right:0;
    bottom:0;
}

.view-animate.ng-enter {
    left:100%;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
}

.selected td
{
    background-color: #428bca !important;
    color: #ffffff;
}

.header {
    margin-top:20px;
}

/*/Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.). But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly. The remedy is simple, just add the following styling to your application:*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }